<form id="new-message-form" method="POST" action="/messages">
  <h2>Write a new message:</h2>
  <textarea id="message-body-input" name="body" placeholder="Enter a message here."></textarea>
  <input type="text" name="mood" placeholder="Mood">
  <button type="submit">Post Message</button>
</form>
