<form id="{{id}}-reply" method="POST" action="/messages/{{id}}/reply" style="display: none;">
  <textarea id="message-body-input" name="body" placeholder="Enter a message here."></textarea>
  <input type="text" name="mood" placeholder="Mood">
  <button type="submit">Post reply</button>
</form>
