

<main class="flex-container">

  {{#if errors}}
    <div class="notice error">
      <h2 class="notice-header">Error</h2>
      <ul class="error-list">
        {{#each errors}}
          {{#each this}}
            <li>{{@../key}} {{message}}</li>
          {{/each}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{!-- Elements only presented for logged-in users --}}
  {{#if user}}
  {{> messageForm}}
  {{> userPage}}
  {{/if}}

  {{!-- Display all messages and replies set to visible --}}
  <div id="messages" class="message-list">
    <h2>Messages</h2>

    {{#unless messagesToDisplay}}
      <p>Sorry, no messages. :(</p>
    {{else}}
        {{#each messagesToDisplay}}
          {{> messageDisplay}}
        {{/each}}
    {{/unless}}
  </div>

</main>
