<form id="sign-in-form" action="/sign-in" method="POST">
  <input type="text" name="email" placeholder="Email" required>
  <input type="text" name="password" placeholder="Password" required>
  <button type="submit">Log In</button>
</form>
