#login {
  display: none;
}

#login.login-show {
  display: block;
}

body {
  background-color: #772014;
  color: white;
  font-family: 'Helvetica', 'Arial', sans-serif;
  box-sizing: border-box;
  width: 100%;

}

#page {
  width:100%;
}
#page-header {
  margin: 0 auto;
  width: 100%;
  background-color: #19180A;
  color: #E71D36;
  height: fit-content;
  padding: 2%;
  text-align: center;
}

#error-page {
  margin: 20px auto;
  width: 900px;
}

.auth-content {
  margin: auto auto;
  width: fit-content;
}

#messages-page {
  margin: 20px auto;
  width: 50%;
}

#message-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#message-form button[type="submit"] {
  margin-top: 10px;
}

#message-form #message-body-input {
  height: 100px;
  width: 100%;
}

#messages {
  width: 100%;
  text-align: center;
  padding: 2%;
}

#messages h2 {
  color: #E71D36;
}

.message-list {
  background-color: #19180A;
  border: 5px solid #19180A;
  border-radius: .5rem;
  width: 100%;
  text-align: center;
  margin: 2% auto;
}

.message-list .message-body {
  font-size: 20px;
}

.message-list .message-timestamp {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

.message-list .message-mood {
  font-size: 14px;
  font-style: italic;
}

.message {
  margin: 2% auto;
  border: 5px solid #E71D36;
  border-radius: .5rem;
  padding: 1%;
  background-color: white;
  color: #772014;
  text-align: left;
}

.notice {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.notice.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.notice-header {
  margin-top: 0rem;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

#page-content {
  margin: 2% auto;
  width: 90%;
}
